input,
button,
submit {
  border: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

body {
  background: #181018;
  font-family: "Montserrat", sans-serif;
}
